NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.mmewgxnshmcciiacloks.supabase.co:5432/postgres
DATABASE_SSL=true
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_TLS=false
REDIS_DISABLED=
CHAPA_BASE_URL=https://api.chapa.co
CHAPA_SECRET_KEY=CHASECK_TEST-xxxxxxxx
CHAPA_WEBHOOK_SECRET=your_dashboard_webhook_secret_hash
API_KEY=
